.settings
.git
.idea
*.pyc
dev.db
/settings.py
media/ugc
docs/_build/
src/
pip-log.txt
media/js/*.r*.js
media/css/*.r*.css
*DS_Store
*.egg-info
*~
.project
.pydevproject
/bower_components/
/sourceme.sh
/build/
/data/
/var/
migrations/
test.txt
apps/basaltApp/migrations/
apps/basaltApp/hvnp_air_quality.zip
apps/basaltApp/hvnp_air_quality/icons
apps/basaltApp/hvnp_air_quality/test_output/
apps/basaltApp/pycroraptor_dev.json
apps/basaltApp/pycroraptor.json
pyraptord
.classpath
sextantwebapp
pysrc
ssl
db_dumps
