.settings
.git
.idea
*.pyc
dev.db
/settings.py
media/ugc
docs/_build/
src/
pip-log.txt
media/js/*.r*.js
media/css/*.r*.css
*DS_Store
*.egg-info
*~
.project
.pydevproject
/bower_components/
/sourceme.sh
/build/
/data/
/var/
migrations/
test.txt
pyraptord
.classpath
pysrc
ssl
db_dumps
