{% extends "xgds_map_server/live_group_flight_playback.html" %}
{% load static %}

{% block cssExtras %}
    {{ block.super }}
     <style>
      .chat {
          //position:absolute;
          width: 100%;
          min-height: 100gitpx;
          height: 100%;
          height: -moz-available;          /* WebKit-based browsers will ignore this. */
          height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
          height: fill;
      }

    </style>

{% endblock cssExtras %}

{% block scripts %}
    {{ block.super }}
 	<script type="text/javascript" src="{% static 'xgds_video/js/recordedVideoPlayer.js' %}"></script>
{% endblock scripts %}

{% block mapdiv %}
    <div id="map-gridstack-item" class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="2" data-gs-height="4" >
{% endblock mapdiv %}

{% block preMap %}
    {% if settings.DIVE_MODE == 2 %}
    <div id="scichat-gridstack-item" class="grid-stack-item"
		data-gs-x="3" data-gs-y="0"
        data-gs-width="4" data-gs-height="1" >
			<div class="grid-stack-item-content" id="scichat-gridstack-item-content" >
				<div id="scichat">
                    <div id="candy">
                          <iframe class="chat" src="/data/chat/index.html"></iframe>
                    </div>
                </div>
			</div>
		</div>
    {% endif %}
{% endblock preMap %}

{% block tabsdiv %}
<div id="tabs-gridstack-item" class="grid-stack-item"  data-gs-x="3" data-gs-y="{% if settings.DIVE_MODE == 2 %}1{% else %}0{% endif %}" data-gs-width="4" data-gs-height="3" >
{% endblock tabsdiv %}


{% block postOtherJSInit %}
    app.vent.trigger('tab:set','search');
    $("#playbuttonLink").hide();
{% endblock postOtherJSInit %}

{% block postAppOptions %}
    appOptions.play_sse_list = ['herc:position','nautilus:position','argus:position',
    'hercules:o2s', 'hercules:ctd', 'hercules:temp']
    appOptions.pause_sse_list = appOptions.play_sse_list;

{% endblock postAppOptions %}

{% block buttonrowRight %}
    {% include 'xgds_notes2/notes_input_include_full.html' %}
    {%  if live %}
    <button id="frame_grab" class='btn btn-primary my-1' role='button' style="color:white; max-height:1.8rem; margin-left: 2px;" onclick="xgds_video.handleFrameGrab('{{ group_flight.name }}', 'HERC', {{ settings.XGDS_VIDEO_RECORDING_LAG_SECONDS }});">Frame Grab</button>
    <button id="group_flight_video" class='btn btn-primary my-1' role='button' style="color:white; max-height:1.8rem; margin-left: 2px;" onclick="analytics.trackAction('playback', 'video_button', document.title);window.open('{% url 'map_replay_group_flight' group_flight.name %}')">Video</button>
    {% endif %}
{% endblock buttonrowRight %}