{% extends "xgds_map_server/live_group_flight_playback.html" %}
{% load static %}

{% block cssExtras %}
    {{ block.super }}
     <style>
      .chat {
          //position:absolute;
          width: 100%;
          min-height: 200px;
          height: 100%;
          height: -moz-available;          /* WebKit-based browsers will ignore this. */
          height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
          height: fill;
      }
      .message-pane-wrapper {
          top: 0px !important;
          margin: 0px !important;
      }
    </style>

    <!--<link rel="stylesheet" type="text/css" href="{% static 'xgds_subsea/css/default.css' %}"></link> -->
    <link rel="stylesheet" type="text/css" href="{% static 'xgds_subsea/css/candy.css' %}"></link>

{% endblock cssExtras %}

{% block scripts %}
{{block.super}}
    <script type="text/javascript" src="{{ EXTERNAL_URL }}candy/src/candy.js" ></script>
{% endblock scripts %}

{% block preMap %}
    <div id="scichat-gridstack-item" class="grid-stack-item"
		data-gs-x="1" data-gs-y="0"
        data-gs-width="2" data-gs-height="3" >
			<div class="grid-stack-item-content" id="scichat-gridstack-item-content" >
				<div id="scichat">
                    <div id="candy">
                    </div>
                </div>
			</div>
		</div>
{% endblock preMap %}

{% block postMap %}
    <div id="tabs-gridstack-item" class="grid-stack-item"  data-gs-x="4" data-gs-y="0" data-gs-width="3" data-gs-height="3" >
    		<div id="tabs-gridstack-item-content" class="grid-stack-item-content" >
			<ul class="nav justify-content-end">
				<i class="fa fa-lock pinDiv gray-light"></i>
			</ul>
	        <div id="tabs" class="mt-negative-1rem"></div>
	    </div>
{% endblock postMap %}

{% block postOtherJSInit %}
    app.vent.trigger('tab:set','search');
    /*$(document).ready(function () {
            Candy.init('{{settings.NAUTILUS_CHAT_URL}}/http-bind', {
                core: {
                    debug: true,
                    autojoin: ['{{settings.NAUTILUS_CHAT_AUTOJOIN}}']
                },
                view: {resources: '/static/candy/res/'}
            });
            Candy.Core.connect();
    }); */
{% endblock postOtherJSInit %}

{% block postAppOptions %}
    //TODO Khaled: fill these out correctly
    appOptions.play_sse_list = ['herc:position','nautilus:position','argus:position', 'herc:o2s', 'herc:ctd', 'herc:temp']
    appOptions.pause_sse_list = appOptions.play_sse_list;
{% endblock postAppOptions %}