{% extends '../base.html' %}
{% load static %}
{% block content %}
{% if settings.GEOCAM_UTIL_LIVE_MODE %}
<strong style="color:red">There are not currently any active {{settings.XGDS_CORE_FLIGHT_MONIKER}}s.</strong><br/>
When you are told there is an active {{settings.XGDS_CORE_FLIGHT_MONIKER}}, please click on the SUBSEA logo in the upper left.
</br>
</br>
{% endif %}

<p>
        <h2>Top Navigation</h2>
<table >
  <tr>
    <td style="text-align:right"><strong>Map</strong></td>
    <td>View, manage and edit map layers.  Get Google Earth link.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>{{settings.XGDS_CORE_FLIGHT_MONIKER}}</strong></td>
    <td>View and manage {{settings.XGDS_CORE_FLIGHT_MONIKER}}s and {{settings.XGDS_PLANNER_PLAN_MONIKER}}s.  A {{settings.XGDS_CORE_FLIGHT_MONIKER}} includes all of the data collected in a single excursion.</td>
  </tr>
<!--
  <tr>
    <td style="text-align:right"><strong>{{settings.XGDS_NOTES_MONIKER}}</strong></td>
    <td>Review existing {{settings.XGDS_NOTES_MONIKER}}.  Manage tags.</td>
  </tr>
  -->
  <tr>
    <td style="text-align:right"><strong>Search</strong></td>
    <td>Search for anything on the map, including Photos, Samples, and Instrument data, across {{ settings.XGDS_CORE_FLIGHT_MONIKER }}s.</td>
  </tr>
    <tr>
    <td style="text-align:right"><strong>Chat</strong></td>
    <td>Science chat</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Settings</strong></td>
    <td>Configure tags for {{ settings.XGDS_NOTES_MONIKER }}, and your role and location.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Import</strong></td>
    <td>Import data including {{ settings.XGDS_IMAGE_IMAGE_SET_MONIKER}}s and GeoTiff Map Tiles.</td>
  </tr>
  {% if settings.GEOCAM_UTIL_LIVE_MODE %}
  <tr>
    <td style="text-align:right"><strong>Status</strong></td>
    <td>See current system status</td>
  </tr>
  {% endif %}
</table>
</p>

    <p>
    <h2>Training Videos</h2>
    Click on the blue link on the left in the list below to see the training video. Videos are best viewed full screen.<br/><br/>
<table >
  <tr>
      <td style="text-align:right"><strong><a href="https://vimeo.com/317348413" target="_training">Overview</a></strong></td>
    <td>Overview of how many common features work in xGDS, including registration and help</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong><a href="https://vimeo.com/324285547" target="_training">Map: Working with Maps</a></strong></td>
    <td>Interact with maps and map layers</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong><a href="https://vimeo.com/317355116" target="_training">Map: Folders & Organization</a></strong></td>
    <td>Control the folder structure in the map layers</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong><a href="https://vimeo.com/317380557" target="_training">Map: Layer Editing</a></strong></td>
    <td>Create and edit map markup directly in xGDS</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong><a href="https://vimeo.com/322931585" target="_training">Map: Uploading GeoTiff</a></strong></td>
    <td>Upload GeoTIFF files into xGDS</td>
  </tr>
    <tr>
    <td style="text-align:right"><strong><a href="https://vimeo.com/317356839" target="_training">Map: Uploading KML</a></strong></td>
    <td>Upload KML files into xGDS</td>
  </tr>
    <tr>
    <td style="text-align:right"><strong><a href="https://vimeo.com/322940258" target="_training">Searching across {{ settings.XGDS_CORE_FLIGHT_MONIKER }}s</a></strong></td>
    <td>Search for, filter, view and export data</td>
  </tr>
    <tr>
    <td style="text-align:right"><strong><a href="https://vimeo.com/319361729" target="_training">Working with {{settings.XGDS_IMAGE_IMAGE_SET_MONIKER}}s</a></strong></td>
    <td>View, annotate (mark up) and download {{ settings.XGDS_IMAGE_IMAGE_SET_MONIKER }}s</td>
  </tr>
  <tr>
      <td style="text-align:right"><strong><a href="https://xgds.org/downloads/training/xgds_planner/" target="_training">{{ settings.XGDS_PLANNER_PLAN_MONIKER }}</a></strong></td>
    <td>Create, edit and manage {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s</td>
  </tr>
  <tr>
      <td style="text-align:right"><strong><a href="https://xgds.org/downloads/training/xgds_dive_replay/" target="_training">{{ settings.XGDS_CORE_FLIGHT_MONIKER }} replay</a></strong></td>
    <td>Replay and interact with {{ settings.XGDS_CORE_FLIGHT_MONIKER }}s including data plots, video, map, timeline and searching</td>
  </tr>
  <tr>
      <td style="text-align:right"><strong><a href="https://vimeo.com/325742989" target="_training">{{ settings.XGDS_NOTES_MONIKER }}</a></strong></td>
    <td>Write and interact with {{ settings.XGDS_NOTES_MONIKER }}s and Notes including role, location and tags</td>
  </tr>
</table>
</p>
{% endblock content %}

{% block footer %}
<div class="fixed-bottom container-fluid bg-primary d-flex justify-content-between py-2 ">
			<a href="https://ti.arc.nasa.gov/tech/asr/intelligent-robotics/" target="_blank" title="IRG" >
    			<img src="{% static 'bootstrap/img/irg.png' %}" alt="IRG logo" />
    		</a>
    		<div class="d-flex align-items-center">
    		<h5 class="text-primary-inverse ">
    			<a href="https:/www.xgds.org" target="_blank" title="xGDS" class="text-primary-inverse">
    				<strong>Powered by xGDS</strong>
    			</a>
    		</h5>
    		</div>

			<a href="http://www.nasa.gov" title="NASA" target="_blank">
    			<img src="{% static 'bootstrap/img/meatball.png' %}"  alt="NASA logo" />
    		</a>
</div>
{% endblock footer %}