{% extends '../base.html' %}
{% load static %}
{% block content %}
{% if settings.GEOCAM_UTIL_LIVE_MODE %}
<strong style="color:red">There are not currently any active EVAs.</strong><br/>
When you are told there are active EVAs, please click on the BASALT logo in the upper left.
</br>
</br>
{% endif %}

<p>
<table >
  <tr>
    <td style="text-align:right"><strong>Map</strong></td>
    <td>View, manage and edit map layers.  Get Google Earth link.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>{{settings.XGDS_CORE_FLIGHT_MONIKER}}</strong></td>
    <td>View and manage {{settings.XGDS_CORE_FLIGHT_MONIKER}}s and {{settings.XGDS_PLANNER_PLAN_MONIKER}}s.  A {{settings.XGDS_CORE_FLIGHT_MONIKER}} includes all of the data collected in a single excursion.</td>
  </tr>
<!--
  <tr>
    <td style="text-align:right"><strong>{{settings.XGDS_NOTES_MONIKER}}</strong></td>
    <td>Review existing {{settings.XGDS_NOTES_MONIKER}}.  Manage tags.</td>
  </tr>
  -->
  <tr>
    <td style="text-align:right"><strong>Search</strong></td>
    <td>Search for anything on the map, including Photos, Samples, and Instrument data.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Settings</strong></td>
    <td>Configure tags for {{ settings.XGDS_NOTES_MONIKER }}, and your role and location.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Import</strong></td>
    <td>Import data including {{ settings.XGDS_IMAGE_IMAGE_SET_MONIKER}}s and GeoTiff Map Tiles.</td>
  </tr>
  {% if settings.GEOCAM_UTIL_LIVE_MODE %}
  <tr>
    <td style="text-align:right"><strong>Status</strong></td>
    <td>See current system status</td>
  </tr>
  {% endif %}
</table>
</p>
{% endblock content %}

{% block footer %}
<div class="fixed-bottom container-fluid bg-primary d-flex justify-content-between py-2 ">
			<a href="https://ti.arc.nasa.gov/tech/asr/intelligent-robotics/" target="_blank" title="IRG" >
    			<img src="{% static 'bootstrap/img/irg.png' %}" alt="IRG logo" />
    		</a>
    		<div class="d-flex align-items-center">
    		<h5 class="text-primary-inverse ">
    			<a href="https:/www.xgds.org" target="_blank" title="xGDS" class="text-primary-inverse">
    				<strong>Powered by xGDS</strong>
    			</a>
    		</h5>
    		</div>
    		
			<a href="http://www.nasa.gov" title="NASA" target="_blank">
    			<img src="{% static 'bootstrap/img/meatball.png' %}"  alt="NASA logo" />
    		</a>
</div>
{% endblock footer %}