{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if settings.GEOCAM_UTIL_LIVE_MODE %}
<strong style="color:red">There are not currently any active EVAs.</strong><br/>
When you are told there are active EVAs, please click on the BASALT logo in the upper left.
</br>
</br>
{% endif %}

<p>
<table >
  <tr>
    <td style="text-align:right"><strong>Map</strong></td>
    <td>View and manage map layers.  Get Google Earth link.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>EVA</strong></td>
    <td>View and manage EVAs and Planned Traverses.  See video for past EVAs.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Notes</strong></td>
    <td>Review existing notes.  Manage tags.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Sample</strong></td>
    <td>Print labels.  Record sample information.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Search</strong></td>
    <td>Search for anything on the map, including Photos, Samples, ASD and pXRF data.</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong>Import</strong></td>
    <td>Import data including Photos, GPS, Science Instrument, Map Tiles.</td>
  </tr>
  {% if settings.GEOCAM_UTIL_LIVE_MODE %}
  <tr>
    <td style="text-align:right"><strong>Status</strong></td>
    <td>See current system status</td>
  </tr>
  <tr>
    <td style="text-align:right"><strong> <a href="/wristApp/mobile.html"> xGDS Live </a></strong></td>
    <td>The wrist app! Not on your wrist! </td>
  </tr>
  {% endif %}
</table>
</p>
{% endblock content %}

{% block footer %}
<div class="fixed-bottom container-fluid bg-primary d-flex justify-content-between py-2 ">
			<a href="https://ti.arc.nasa.gov/tech/asr/intelligent-robotics/" target="_blank" title="IRG" >
    			<img src="{% static 'bootstrap/img/irg.png' %}" alt="IRG logo" />
    		</a>
    		<div class="d-flex align-items-center">
    		<h5 class="text-primary-inverse ">
    			<a href="https:/www.xgds.org" target="_blank" title="xGDS" class="text-primary-inverse">
    				<strong>Powered by xGDS</strong>
    			</a>
    		</h5>
    		</div>
    		
			<a href="http://www.nasa.gov" title="NASA" target="_blank">
    			<img src="{% static 'bootstrap/img/meatball.png' %}"  alt="NASA logo" />
    		</a>
</div>
{% endblock footer %}