{% extends 'base.html' %}
{% load pipeline %}
{% load siteFrames %}
{% load static %}

 {% block cssExtras %}
 {{ block.super }}
	{% include "xgds_map_server/MapServerCSS.html" %}
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.css" ></link>
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack-extra.min.css" ></link>
	<style>

 .grid-stack-item-content {
    display: block;
    margin: 20px 0 10px;
    }
 </style>
 {% endblock cssExtras %}

{% block jsInit %}

 	{% if settings.XGDS_SSE and settings.GEOCAM_UTIL_LIVE_MODE %}
 		var preloadImageList = {{ settings.GEOCAM_TRACK_PRELOAD_TRACK_IMAGES|safe }}; 
    		trackSse.preloadedIcons = $.preloadImages(preloadImageList);
    	{% endif %}
    	
	{% block jsInitPreApp %}
	{% endblock jsInitPreApp %}
	
	$(function(){
		siteFrames = {% siteframes_dict %};
    		app.start(appOptions);
    		app.vent.on("mapSearch:drewFeatures", function(e) {
        		app.vent.trigger('mapSearch:fit');
        });
        
        {% block preLayout %}
		{% endblock preLayout %}
		
		{% block initGridstack %}
    		xgds_gridstack.initializeGridstack();
    		{% endblock initGridstack %}
    	
    		{% if settings.XGDS_SSE and settings.GEOCAM_UTIL_LIVE_MODE%}
    			trackSse.initialize();
                notesSse.initialize();
                notesSse.olInitialize();
    		{% endif %}
    	
    		{% block otherJSInit %}
		{% endblock otherJSInit %}
	});
	
{% endblock jsInit%}


{% block scripts %}
{{block.super}}
	{% include "xgds_core/timeJS.html" %}
	{% block preMapJS %}
	<script type="text/javascript">
	var appOptions = {
		BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
		DEFAULT_COORD_SYSTEM: '{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}',
		SETUP_COORD_SYSTEM: '{{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }}',
		DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
		DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
		DEFAULT_ROTATION: {{ settings.XGDS_MAP_SERVER_DEFAULT_ROTATION }},
		SHOW_COMPASS: {{ settings.XGDS_MAP_SERVER_SHOW_COMPASS}},
		selectedLayerUrl: '{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}',
		layerFeedUrl: '{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}',
		siteFrame: {% siteframe settings.XGDS_CURRENT_SITEFRAME_ID %},
		XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: '{{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }}',
		dataUrl: '{{ settings.DATA_URL }}',
		searchModels: {{ settings.XGDS_MAP_SERVER_JS_MAP|safe }},
		settingsLive: {{ settings.GEOCAM_UTIL_LIVE_MODE|yesno:'true,false' }}
	};
	</script>
	{% endblock preMapJS %}
	{% if app %}
	{% include "MapJS.html" %}
	{% else %}
	{% with app=settings.XGDS_MAP_SERVER_DEFAULT_BACKBONE_APP %}
	{% include "MapJS.html" %}
	{% endwith %}
	{% endif %}
	
	<script language="javascript" type="text/javascript" src="{% static 'xgds_core/js/datatablesUtils.js' %}"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.js" ></script>
	<script type="text/javascript" src="{% static 'xgds_core/js/gridstackUtils.js' %}"></script>
	{% javascript 'custom_map' %}
	{% if settings.XGDS_SSE and settings.GEOCAM_UTIL_LIVE_MODE%}
	{% load sse %}
	{% setup_sse %}
	    <script type="text/javascript" src="{% static 'geocamTrack/js/trackSseUtils.js' %}"></script>
	    <script type="text/javascript" src="{% static 'geocamTrack/js/olTrackSseUtils.js' %}"></script>
	    <script type="text/javascript" src="{% static 'basaltApp/js/basaltTrackSseUtils.js' %}"></script>
        <script type="text/javascript" src="{% static 'xgds_notes2/js/noteSseUtils.js' %}"></script>
        <script type="text/javascript" src="{% static 'xgds_notes2/js/olNoteSseUtils.js' %}"></script>
	{% endif %}
{% endblock scripts %}


{% block content %}

<script type="x-template/underscore" id="application_contents">
	<div id="gridstack_buttonrow" class="d-flex justify-content-between mb-1">
		<div class="d-flex justify-content-start">
			{% block buttonrowLeft %}
			{% endblock buttonrowLeft %}
		</div>
		<div class="d-flex justify-content-end">
			{% block buttonrowRight %}
			{% endblock buttonrowRight %}
				<button id="gridstack_toggleAll" class='btn btn-primary fa fa-lock my-1' role='button' style="color:white; max-height:1.8rem; margin-left: 10px;" onclick="xgds_gridstack.handleToggleAllClick();"></button>
		        <button id="gridstack_reset" class='btn btn-primary my-1' role='button' style="color:white; max-height:1.8rem; margin-left: 2px;" onclick="xgds_gridstack.resetGrid(window.location.pathname);">Reset Layout</button>
        </div>
	</div>
	{% block preDashboard %}
	{% endblock preDashboard %}
	{% block dashboard %}
	<div id="container" class="grid-stack {% block gridstackWidth %}grid-stack-6 {% endblock gridstackWidth %}">
		
		{% block preMap %}
		{% endblock preMap %}
		
		
		{% block map %}
		<div id="map-gridstack-item" class="grid-stack-item" 
		data-gs-x="3" data-gs-y="0"
        data-gs-width="2" data-gs-height="2" >
			<div class="grid-stack-item-content" id="map-gridstack-item-content" >
				{% siteframe_form %}
				<ul class="nav justify-content-end">
					<i class="fa fa-lock pinDiv gray-light"></i>
				</ul>
				<div id="map"></div>
			</div>
		</div>
		{% endblock map %}
		
		{% block layers %}
		<div id="layers-gridstack-item" class="grid-stack-item" 
			data-gs-x="6" data-gs-y="0"
        	data-gs-width="1" data-gs-height="2" >
			<div class="grid-stack-item-content" id="layers-gridstack-item-content">
			<ul class="nav justify-content-end">
				<i class="fa fa-unlock-alt gray-light pinDiv mr-1"></i>
				<i class="fa fa-window-close gray-light fa-lg"></i>
			</ul>
			<div id="layers" class="mt-negative-1rem"></div>
			</div>
		</div>
		{% endblock layers %}
		
		
		{% block postMap %}
		{% endblock postMap %}
		
		
	</div> <!--  gridstack container -->
	{% endblock dashboard %}
</script>

{% block preApplication %}
{% endblock preApplication %}
<div id="application" >
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
  
  